

#firstimage {
    width: 100%;
    position: absolute;
    
}
.top {
    border: 2px solid red;
    position: relative;
    height: 60vw;
    display:flex;
    flex-direction:column;
}

#h1 {
    
    align-self: center;
    margin-top: 30px;  
}

#firsttext,#heyguys {
    
    align-self: center;
    z-index: 200;
    

}

#firsttext {
    margin-top:10px;
}

#heyguys {
    margin-top: 43%;
    margin-left: 15%;
}