* {
  padding: 0px;
  margin: 0px;
  font-family: 'Antic Slab', serif; }

body {
  width: 100%;
  font-size: 2.7vw; }

#firstimage {
  width: 100%;
  position: absolute; }

.top {
  position: relative;
  display: flex;
  flex-direction: column; }

#h1 {
  align-self: center;
  margin-top: 4vw; }

#firsttext, #heyguys {
  align-self: center;
  z-index: 200; }

#firsttext {
  margin-top: 10px; }

#heyguys {
  margin-top: 43%;
  margin-left: 15%; }

#container {
  height: 110vw;
  display: flex;
  justify-content: center; }

#youbility {
  align-self: center;
  margin-left: 10%; }

#youbility > p {
  margin-top: 2%; }

.mindre {
  width: 50%; }

#firstphone {
  width: 50vw; }

section > video {
  width: 100%; }

#container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

div#flex {
  display: flex;
  justify-content: space-evenly; }

#phonetext {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  margin-right: 3vw; }

#p1 {
  margin-bottom: 5%; }

#margin {
  margin-top: 5%; }

#flex2 {
  margin-right: 3vw;
  margin-left: 3vw; }

#container3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

#tip {
  position: absolute;
  margin-bottom: 10%; }

#tiptext {
  position: absolute;
  margin-top: 15%; }

.overfooter {
  width: 100%; }

.phone2 {
  width: 50%; }

#phone2 {
  width: 50vw; }

footer {
  position: absolute;
  background-color: #312e41;
  color: white;
  width: 100%; }

.flexcontainer {
  display: flex;
  height: 40vw;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly; }

.divcontainer1 {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-between; }

.divcontainer2 {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-around; }

#footer2 {
  margin-top: 1.5vw; }

#footer4 {
  margin-top: 1.5vw; }

#footer1 {
  margin-top: 2vw; }
